<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.vyke.worldcountries">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher_earth"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round_red"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.vyke.worldcountries.MainActivity">
            <intent-filter>
                  <action android:name="android.intent.action.MAIN" />
                  <action android:name="android.intent.action.SEARCH" />
                  <action android:name="android.intent.action.VIEW" />
                  <category android:name="android.intent.category.LAUNCHER" />
                  <category android:name="android.intent.category.DEFAULT" />
                  <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="my.app.namespace.utils.GlideConfiguration"
            android:value="GlideModule" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.vyke.worldcountries.WikiWeb"
            android:parentActivityName="com.vyke.worldcountries.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />

                <category android:name="android.intent.category.APP_BROWSER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.vyke.worldcountries.map.MapActivity"
            android:parentActivityName="com.vyke.worldcountries.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />

                <category android:name="android.intent.category.APP_BROWSER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.vyke.worldcountries.about.About"
            android:parentActivityName="com.vyke.worldcountries.MainActivity">

        </activity>

    </application>

</manifest>